@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    min-height: 100vh;
    font-family:  Nunito Sans;
    display: flex;
    flex-direction: column;
    
  
}

header
{
    
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    height: 7vh;
    border-width: 1px;

}

header h4
{
    margin: 0 5px 0 0;
}

#theme-btn
{
    padding: 5px;
    margin: 0 0 0 5px;
}

.search-div
{
   
    display: flex;
    align-items: center;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px 0 0 0;
    background-color: white;
    border-style: solid;
}

.search-div i
{
    color: hsl(0, 0%, 52%);
    margin: 0 0 0 5px;
}

#search
{
    border-style: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

#search:focus
{
    outline: none;
}

main
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container
{
    /* border-style: solid; */
    /* max-width: 1110px; */
    /* height: 740px; */
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 5px 0 5px;
    
    /* background-color: hsl(230, 17%, 14%); */
}


.country
{
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.country img
{
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover ;
    border-bottom-style: solid;
    border-width: 1px;
}

.country h4
{
    margin: 0 0 0 10px
}

.country p
{
    margin: 5px 0 5px 10px;
   
}






.back
{
    display: block;
    margin: 10px 0 10px 0;
}

.flex
{
    display: flex;
    border-style: solid;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-info
{
    display: none;
}

.more-info img
{
    width: 45%;
}


.info
{
    border-style: solid;
    width: 55%;
}

li
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


@media (max-width: 768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .search-div{
        width: 100%;
    }
}

@media (max-width: 400px){
    .container{
        grid-template-columns: repeat(1, 1fr);
        
        
    }
}

